<div class="page-width">
    <div class="custom-header">
       <h1>Heading</h1>
    </div>
</div>


{% schema %}
  {
    "name": "custom_header",
    "class":"section",
    "settings":[
        {
            "type":"text",
            "id":"custom_heading_text",
            "label":"Add heading"
        }
    ],
    "presets":[
        {
            "name":"custom_header"
        }
    ]

  }

{% endschema %}