
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-605841633652507546.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-605841633652507546.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-605841633652507546.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-605841633652507546.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-605841633652507546.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-605841633652507546.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-605841633652507546.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-605841633652507546.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-605841633652507546.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-605841633652507546.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-605841633652507546.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-605841633652507546.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-605841633652507546.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-605841633652507546.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-605841633652507546.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-605841633652507546.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-605841633652507546.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-605841633652507546.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-605841633652507546.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-605841633652507546.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-605841633652507546.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-605841633652507546.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-605841633652507546.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-605841633652507546.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-605841633652507546.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-605841633652507546.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-605841633652507546.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-605841633652507546.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-605841633652507546.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-605841633652507546.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-605841633652507546.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-605841633652507546.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-605841633652507546.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-605841633652507546.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-605841633652507546.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-605841633652507546.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-605841633652507546.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-605841633652507546.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-605841633652507546.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-605841633652507546.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-605841633652507546.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-605841633652507546.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-605841633652507546.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-605841633652507546.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-605841633652507546.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-605841633652507546.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-605841633652507546.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-605841633652507546.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-605841633652507546.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-605841633652507546.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-605841633652507546 .gp-relative{position:relative}.gps-605841633652507546 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-605841633652507546 .gp-mb-0{margin-bottom:0}.gps-605841633652507546 .gp-inline-block{display:inline-block}.gps-605841633652507546 .gp-flex{display:flex}.gps-605841633652507546 .gp-grid{display:grid}.gps-605841633652507546 .gp-contents{display:contents}.gps-605841633652507546 .\!gp-hidden{display:none!important}.gps-605841633652507546 .gp-hidden{display:none}.gps-605841633652507546 .gp-h-auto{height:auto}.gps-605841633652507546 .gp-h-full{height:100%}.gps-605841633652507546 .gp-w-full{width:100%}.gps-605841633652507546 .gp-max-w-full{max-width:100%}.gps-605841633652507546 .gp-flex-none{flex:none}.gps-605841633652507546 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-605841633652507546 .gp-flex-col{flex-direction:column}.gps-605841633652507546 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-605841633652507546 .gp-duration-200{transition-duration:.2s}.gps-605841633652507546 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-605841633652507546 .tablet\:\!gp-hidden{display:none!important}.gps-605841633652507546 .tablet\:gp-hidden{display:none}.gps-605841633652507546 .tablet\:gp-h-auto{height:auto}.gps-605841633652507546 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-605841633652507546 .mobile\:\!gp-hidden{display:none!important}.gps-605841633652507546 .mobile\:gp-hidden{display:none}.gps-605841633652507546 .mobile\:gp-h-auto{height:auto}.gps-605841633652507546 .mobile\:gp-flex-none{flex:none}}.gps-605841633652507546 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gaODKFWFO0"}' data-id="gaODKFWFO0" id="gaODKFWFO0" data-same-height-subgrid-container class="gaODKFWFO0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdoTClN4Uv gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gyegb_i98j"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1770639366746 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gyegb_i98j"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_768x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo_1024x.jpg" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="https://cdn.shopify.com/s/files/1/2005/9307/files/image_demo.jpg"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:500px;--w-tablet:500px;--w-mobile:500px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--btrr:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-605841633652507546 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/4u7bg4-51/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=605836295108821990&sectionId=605841633652507546)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}