@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* .dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* .work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root{
    --orrange-color: #ff8e2c;
    --yellow-color: 255, 204, 46;
    --green-color: #007E40;
    --white-color: #FFFFFF;
    --soft-green: #dfefe7;
    --Deep-Forest-Green: #002613;
    --color-background: 0, 126, 64;
    --gradient-background: #007e40;
    --color-foreground: 255, 204, 46;
    --color-shadow: 0, 38, 19;
    --color-button: 0, 38, 19;
    --color-button-text: 255, 255, 255;
    --color-secondary-button: 0, 126, 64;
    --color-secondary-button-text: 255, 204, 46;
    --color-link: 255, 204, 46;
    --color-badge-foreground: 255, 204, 46;
    --color-badge-background: 0, 126, 64;
    --color-badge-border: 255, 204, 46;
    --payment-terms-background-color: rgb(0 126 64);
}
body {
  /* font-family: "DM Sans", sans-serif; */
  font-family: "DM Sans", "Work Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}
.gruns-top-header {
    background: var(--orrange-color) !important;
}
.gruns-top-header p{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #0a1c20 !important;
}

.gruns-header {
    background: #007e40;
}
.custom-header-img__image {
    order: 2;
}
nav.custom-header-img__menu {
    order: 1;
}
.custom-header-img__right {
    order: 3;
}
.custom-header-img__image img {
    max-height: 34px;
}
nav.custom-header-img__menu ul li a{
    background-color: rgb(var(--green-color));
    color: rgb(var(--yellow-color));
    border-color: rgb(var(--yellow-color));
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border: 1px solid;
    padding: 7px 10px;
    border-radius: 22px;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    font-family: "DM Sans", "Work Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}
nav.custom-header-img__menu ul li a:hover{
    background-color: var(--white-color);
    color: var(--green-color);
    border-color:var(--orrange-color);
}

/* Button */
.header-btn {
    padding: 7px 10px;
    text-decoration: none;
    border-radius: 22px;
    font-size: 14px;
    transition: 0.3s ease;
    background-color: rgb(var(--green-color));
    color: rgb(var(--yellow-color));
    border-color: rgb(var(--yellow-color));
}

.header-btn:hover {
    background-color: var(--white-color);
    color: var(--green-color);
    border-color:var(--orrange-color);
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    font-family: "DM Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}
p {
    font-size: 16px;
    line-height: 27px;
}
.gruns-herosec{
    background: var(--soft-green);
    font-family: "DM Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}
.nutrition-rating p {
    font-size: 16px;
    line-height: 18px;
    color: var(--Deep-Forest-Green)
}
.nutrition-rating p strong{
    color: var(--green-color)
}
.nutrition-heading {
    font-size: 44px !important;
    line-height: 48.4px;
    color: var(--Deep-Forest-Green)
}
.nutrition-heading strong{
    color: var(--green-color)
}

/* Wrapper */
.tooltip-trigger {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

/* Tooltip container */
.tooltip-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  width: 220px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 99;
}

/* Tooltip box */
.tooltip-content {
  background: #E6F4E4; /* light green */
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  border: 1px dashed rgba(10, 39, 4, 0.75);
  border-radius: 12px;
  padding: 8px 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Tooltip arrow */
.tooltip-content::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #E6F4E4 transparent;
}

/* Show on hover */
.tooltip-trigger:hover .tooltip-wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}





.custom-header-img__wrapper, .gruns-herosec .page-width, .gruns-testimonials .page-width, .gruns-favoritesec .page-width, .common-container .page-width{
    max-width: 1440px !important;
    margin: 0 auto;
}
.gruns-testimonials .page-width{
    overflow: hidden;
}

.common-container h2, .common-container h1, .common-container h3, .common-container h4, .common-container h5, .common-container h6{
    font-family: "Work Sans", sans-serif;
}

.common-container h2 {
    font-size: 44px;
    line-height: 1.275;
    font-weight: 700;
    font-family: "Work Sans", sans-serif;
    color: var(--Deep-Forest-Green)
}

span.faq-title{
    font-family: "Work Sans", sans-serif;
    font-size: 24px;
    line-height: 1.275;
    font-weight: 600;
    color: var(--Deep-Forest-Green);
}
.faq-answer-inner{
    padding:0 30px 30px;
}
.faq-answer-inner p {
    letter-spacing: -.02em;
    font-size: 16px;
    line-height: 1.275;
    font-weight: 500;
    color: var(--Deep-Forest-Green);
}

.cta-btn {
    display: inline-block;
    border-radius: 40px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 5px 5px 0px 0px #000000;
    transform: translate3d(0, 0, 0);
    padding: 1rem 2.75rem;
    font-size: 18px;
    line-height: 1;
    transition: all .3s ease;
}
.cta-btn:hover{
    box-shadow: 1px 1px 0px 0px #000000;
    transform: translate3d(5px, 5px, 0);
}

/* footer Start */
.footer-bottom-container{
    position: relative;
}
.footer-bottom-container {
    margin-top: 100px !important;
}
img.small-image-footer {
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.gruns-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
  font-size: 13px;
}

.gruns-policy {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.gruns-policy img {
  width: 14px;
  height: 14px;
}
.footer-logo {
    max-width: 262px;
}
.gruns-policy a {
    color: var(--white-color);
    text-decoration: none;
    opacity: .85;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    transition: all .3s ease;
}
.gruns-policy a:hover{
    color: rgb(var(--yellow-color));
}
.gruns-box {
    font-size: 12px;
    line-height: 14px;
    color: rgb(255 255 255 / 76%);
    padding: 5px;
    border: 1px solid #fff;
    
}
.gruns-disclaimer{
  display:flex;
  gap:20px; 
  max-width: 1070px;
  margin-top: 40px;
}

.gruns-disclaimer .gruns-box:nth-child(1){
  flex:3;
}

.gruns-disclaimer .gruns-box:nth-child(2){
  flex:2;
}

.gruns-disclaimer .gruns-box:nth-child(3){
  flex:2;
}

.gruns-links h4 {
    color: rgb(var(--yellow-color));
    font-size: 24px;
    font-weight: 600;
}
.gruns-links ul {
  list-style: none;
  padding: 0;
}

.gruns-links li {
    list-style: none;
    line-height: 1.275;
    margin-bottom: 10px
}

.gruns-links a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    transition: all .3s ease;
    line-height: 1.275;
    display: block;
}

.gruns-links a:hover {
  color: rgb(var(--yellow-color));
  transform: translateX(10px);
}

.gruns-menu-image img {
  max-width: 120px;
  margin-bottom: 15px;
}
.gruns-grid {
    display: grid;
    grid-template-columns: 2fr 3.5fr;
    gap: 150px;
}
.footer-menu-wrap{
  display:flex;
  gap:60px;
  flex-wrap:wrap;
}

/* Each menu column */
.footer-menu-wrap .gruns-links{
  flex:1 1 220px;
}




@media (max-width: 992px){
  .footer-menu-wrap{
    gap:40px;
  }

  .footer-menu-wrap .gruns-links{
    flex:1 1 calc(50% - 40px);
  }
}

@media (max-width:768px){
  .gruns-disclaimer{
    flex-direction:column;
  }
}

@media (max-width: 600px){
  .footer-menu-wrap{
    flex-direction:column;
    gap:30px;
  }

  .footer-menu-wrap .gruns-links{
    flex:1 1 100%;
  }
}