@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* .dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
  font-family: "DM Sans", sans-serif;
}
.gruns-top-header {
    background: #ff8e2c !important;
}
.gruns-top-header p{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #0a1c20 !important;
}

.gruns-header {
    background: #007e40;
}