/* Omonicreatine page css start Desktop */


@font-face {
  font-family: 'Satoshi-Light';
  src: url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Light.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Light.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Regular.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Regular.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Medium.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Medium.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Bold.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Bold.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Black';
  src: url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Black.woff2') format('woff2'),
       url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Black.woff') format('woff'),
       url('https://cdn.shopify.com/s/files/1/0976/2829/1379/files/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

h1{
      font-family: 'Satoshi-Bold';
}
body, h1, h2, h3, h4, h5, h6, p, ul, li {    
  font-family: 'Satoshi-Regular';
}

.omniContainer{
  max-width:1280px;
  margin:0 auto;
}
.dFLEX{
  display:flex;
}

.omni-left .shop-link{
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    color: #265392;
    padding: 0;
}
.omni-left .shop-link:hover{
    color: #002266;
}

.omni-right .header-icon{
     width: 32px;
    height: 32px;
}


/* Omonicreatine page css end Desktop */